In [7]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import plotly.express as px
# text API's
import re
import spacy
import unicodedata
from nltk import TweetTokenizer
from spacy.lang.es import Spanish
from spacy.lang.en import English
import nltk
from nltk.corpus import stopwords
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.preprocessing import LabelEncoder 
from sklearn import preprocessing
from sklearn.metrics import plot_confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score, recall_score, f1_score, precision_score

In [8]:
df = pd.read_csv('./dataInverter.csv', sep=',')
df.head(10)

,id,created_at,reference,pac_values_1,pac_values_2,pac_values_3,pac_values_4,total_energy_values_1,total_energy_values_2,total_energy_values_3,total_energy_values_4,year_energy_values_1,year_energy_values_2,year_energy_values_3,year_energy_values_4,year_energy_unit
0,2936519,May 17 2022 00:00:00,takurika1-inverter,0.0,0.0,0.0,0.0,7780600.0,9517900.0,0.0,0.0,5111800.0,6325400.0,0.0,0.0,Wh
1,2936520,May 17 2022 00:00:00,comfenalco1-inverter,0.0,0.0,0.0,0.0,12247400.0,12098000.0,7433990.0,7323660.0,7026640.0,6966170.0,4291660.0,4146790.0,Wh
2,2936521,May 17 2022 00:00:00,takurika1-inverter,0.0,0.0,0.0,0.0,7780600.0,9517900.0,0.0,0.0,5111800.0,6325400.0,0.0,0.0,Wh
3,2936522,May 17 2022 00:00:00,comfenalco1-inverter,0.0,0.0,0.0,0.0,12247400.0,12098000.0,7433990.0,7323660.0,7026640.0,6966170.0,4291660.0,4146790.0,Wh
4,2936523,May 17 2022 00:00:00,takurika1-inverter,0.0,0.0,0.0,0.0,7780600.0,9517900.0,0.0,0.0,5111800.0,6325400.0,0.0,0.0,Wh
5,2936524,May 17 2022 00:00:00,comfenalco1-inverter,0.0,0.0,0.0,0.0,12247400.0,12098000.0,7433990.0,7323660.0,7026640.0,6966170.0,4291660.0,4146790.0,Wh
6,2936525,May 17 2022 00:00:00,comfenalco1-inverter,0.0,0.0,0.0,0.0,12247400.0,12098000.0,7433990.0,7323660.0,7026640.0,6966170.0,4291660.0,4146790.0,Wh
7,2936526,May 17 2022 00:00:00,takurika1-inverter,0.0,0.0,0.0,0.0,7780600.0,9517900.0,0.0,0.0,5111800.0,6325400.0,0.0,0.0,Wh
8,2936527,May 17 2022 00:00:00,takurika1-inverter,0.0,0.0,0.0,0.0,7780600.0,9517900.0,0.0,0.0,5111800.0,6325400.0,0.0,0.0,Wh
9,2936528,May 17 2022 00:00:00,comfenalco1-inverter,0.0,0.0,0.0,0.0,12247400.0,12098000.0,7433990.0,7323660.0,7026640.0,6966170.0,4291660.0,4146790.0,Wh

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     10 non-null     int64
 1   created_at             10 non-null     object
 2   reference              10 non-null     object
 3   pac_values_1           10 non-null     float64
 4   pac_values_2           10 non-null     float64
 5   pac_values_3           10 non-null     float64
 6   pac_values_4           10 non-null     float64
 7   total_energy_values_1  10 non-null     float64
 8   total_energy_values_2  10 non-null     float64
 9   total_energy_values_3  10 non-null     float64
 10  total_energy_values_4  10 non-null     float64
 11  year_energy_values_1   10 non-null     float64
 12  year_energy_values_2   10 non-null     float64
 13  year_energy_values_3   10 non-null     float64
 14  year_energy_values_4   10 non-null     float64
 15  year_energy_unit       10 non-null     object
dtypes: float64(12), int64(1), object(3)
memory usage: 1.4+ KB